<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
    	<!-- tell PHPUnit which sourcecode files to include in the code coverage report -->
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
